*.py[c|o]
*.egg
*.egg-info
/build
/dist
/nbproject/
pip-log.txt
/.project
/.pydevproject
/include
/lib
/lib64
/bin
/virtualenv

*.bak
*/build/*
*/_build/*
*/_build/latex/*

*.class
#*.png
.version
nosetests.xml

.*
!.git*
!.travis*
!.coveragerc

/distribute_setup.py


sloccount.sc
*.prefs

*.so
*.vcd
*.elf
*.os
*_wrap.*
*.a
*.axf
#*/swig/*.py
custom.py

*.axf
*.elf
*.o
*.a
*.eep
*.hex
*.lss
*.map
*.lst
*.sym
*.vcd
sgm7_hwconf.h
*.bak

docs/api/*
